h1 {
    display: block;
    text-align: center;
    font-size: 49px;
    text-decoration-line: underline;
    font-family: 'Montserrat', sans-serif;
}

img {
    display: inline-block;
    margin: 3.5% 2% 3.5% 2%;
    width: 20%;
    transition-duration: 0.4s;
}

img:hover {
    cursor: pointer;
    width: 21%;
    margin: 2.5% 1.5% 3.5% 1.5%;
}

#images {
    text-align: center;
}